SECRET_KEY=django-insecure-f%)e26as%s4b7u2r2=f@us!a#hfh_zi&s-p@(z-*h!=t&b4*f)

DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,ich-db.edu.itcareerhub.de

MYSQL=True

DB_PORT=3306
DB_HOST=localhost
DB_NAME="name BD"
DB_USER="user"
DB_PASSWORD="password"

